#painel_fundo {
    -fx-background-color: #EEEEEE;
}

#menu {
    -fx-background-color: #0E1950;
}

#btn_grafico,
#btn_agenda,
#btn_funcionario,
#config_btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
    -fx-padding: 8px 12px;
    -fx-transition: 0.3s;
}

#btn_grafico:hover,
#btn_agenda:hover,
#btn_funcionario:hover,
#config_btn:hover {
    -fx-background-color: #19326e;
}

#btn_grafico:pressed,
#btn_agenda:pressed,
#btn_funcionario:pressed,
#config_btn:pressed {
    -fx-background-color: #74c0fc;
}

/* Botão ativo (selecionado) */
.active {
    -fx-background-color: #74c0fc !important;
}

