#painel_fundo {
    -fx-background-color: #EEEEEE;
}

#Fundo_configuracoes {
    -fx-background-color: #D9D9D9;
    -fx-border-color: black;
}


#btn_sair {
    -fx-background-color: #E57373;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 8px 16px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.08), 2, 0.0 , 0 , 1 );
}


#btn_sair:hover {
    -fx-background-color: #D32F2F;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.15), 4, 0.0 , 0 , 2 );
}


#btn_sair:pressed {
    -fx-background-color: #B71C1C;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.05), 2, 0.0 , 0 , 1 );
}
